/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

midsection {
  column-count: 3;
}

midsection .shadow{
  display: inline-block;
}

#featured_brands{
  width: 60%;
  float: left;
  margin-right: 10px;
  height: 100%;
}

#shoe_archive{
  width:36%;
  height: 100%;
  overflow: hidden;
}

deals .shadow{
  column-count:3;
  width: 30%;
  display: inline-block;
}

#details{
  column-count:3;
  
}
